<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="group flex items-center justify-center w-16 h-16 rounded-full border border-gray-300 bg-gray-100 text-gray-800 transition-all duration-200 dark:bg-gray-800 dark:border-gray-600 dark:text-white hover:scale-110 hover:shadow-lg focus-visible:ring-yellow-500/80 focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:scale-95"
>
  <slot />
</a>
