---
interface Props {
  title: string;
  icon?: string; 
}

const { title, icon } = Astro.props;
---

<div class="flex items-center gap-3 mb-6">
  {icon ? (
    <i class={`ri-${icon}-line text-(--primary) text-3xl`}></i>
  ) : null}
  <h2 class="text-3xl font-bold text-gray-800 dark:text-white tracking-tight">
    {title}
  </h2>
</div>

<style>

  :root {
    --primary: #1e40af; 
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #60a5fa; 
    }
  }

  i {
    color: var(--primary);
  }
</style>
